/* right.css */
#png {
	margin-right: 8px;
	height: 18px;
	vertical-align: text-bottom;
}

#title {
	margin-top: 10px;
	margin-left: 15px;
}

hr {
	width: 825px;
	size: 1px;
	color: #EFEFEF;
	margin-left: 10px;
}

.right {
	float: left;
	width: 850px;
	min-height: 855px;
	border: 1px solid #ccc;
	font-family: microsoft yahei;
	margin-left: 292px;
	margin-top: -914px;
}
.changePassword{
	margin-left:100px;;
	margin-top:250px;
	width:60%;
	height:200px;
	border:1px solid #ccc;
	font-family:microsoft yahei;
	font-size:20px;
	margin-left:170px;
}
.changePassword table tr td input[type="password"]{
    height:40px;
    width: 300px;
    margin-bottom: 10px;
}
.changePassword table tr td input[type="submit"]{
    height:35px;
	width:80px;
	background:#87CEFA;
	font-family:microsoft yahei;
	font-size:18px;
	color:white;
	margin-left:135px;
}
.changePassword table tr td input[type="reset"]{
	height:35px;
	width:80px;
	background:#87CEFA;
	font-family:microsoft yahei;
	font-size:18px;
	color:white;
	margin-left:50px;
}

/*#87CEFA*/
/* left.css  */
.center {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	min-height: 1000px;
}

.leftNavigation {
	float: left;
	width: 200px;
	min-height: 845px;
	border: 1px solid #ccc;
	font-family: microsoft yahei;
	margin-left: 40px;
	margin-top: 60px;
}

.leftNavigationTop {
	width: 100%;
	height: 285px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.userImage {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 10px;
}

.userImage img {
	border-radius: 50%;
}

.userNickName {
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}

.friendCount,.fansCount,.articleCount,.activityCount {
	width: 55px;
	height: 60px;
	float: left;
	margin: 5px;
	font-size: 20px;
	text-align: center;
}

.leftNavigationBottom {
	margin-left: 30px;
	height: 565px;
}

.leftNavigationBottom img {
	float: left;
}

.noticeInformation {
	font-size: 20px;
	margin: 0;
	color: #6EA6CB;
}

/*#87CEFA*/

/* daohanlan  +  foot */
* {
	margin: 0;
	padding: -1;
	font-family
	="微软雅黑";
}

body {
	width: 1200px;
	height: 784px;
	margin: 0 auto;
	background-color: #EFEFEF;
}

.top {
	background: #383838;
	width: 1200px;
	height: 50px;
	position: relative;
}

ul {
	width: 750px;
	height: 50px;
	margin-left: 40px;
	float: left;
}

a {
	text-decoration: none;
	color: white;
	display: block;
	width: 150px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
}

li {
	display: inline;
	list-style: none;
	list-style-position: outside;
	text-align: center;
	float: left;
	font-size: 20px;
}

a:link {
	text-decoration: none;
	float: left;
	text-align: center;
	width: 110px;
	height: 35px;
	line-height: 30px;
	display: block;
}

a:visited {
	text-decoration: none;
	float: left;
	text-align: center;
	color: black;
}

a:hover {
	float: left;
	text-align: center;
	width: 70px;
	text-decoration: none;
}

a:active {
	float: left;
	text-align: center;
	width: 100px;
	text-decoration: none;
}

#nav {
	border-bottom: 0px;
	padding: 0px 0px;
	position: absolute;
	z-index: 1;
	left: 180px;
	top: 8px;
}

.list {
	line-height: 20px;
	text-align: left;
	padding: 4px;
	font-weight: normal;
}

.list a {
	width: 140px;
	text-align: center;
	color:white;
}

.list1 a {
	width: 130px;
	text-align: center;
	color: white;
}

.ab a {
	width: 130px;
	color: black;
}

.menu1 {
	width: 150px;
	height: auto;
	margin: 6px 4px 0px 0px;
	border: 1px solid #383838;
	background-color: #383838;
	color: white;
	padding: 0px 0px 0px 0px;
	cursor: hand;
	overflow-y: hidden;
	filter: Alpha(opacity = 30);
	-moz-opacity: 0.7;
}

.menu2 {
	width: 150px;
	height: 20px;
	margin: 6px 4px 0px 0px;
	background-color: #383838;
	color: white;
	border: 1px solid #383838;
	padding: 0px 0px 0px 0px;
	overflow-y: hidden;
	cursor: hand;
}

.lo {
	position: absolute;
	top: 6px;
	left: 100px;
}

.lo img {
	width: 81px;
	height: 96px;
}

.yourimage {
	top: 1px;
	margin-left: 1050px;
}

.yourimage img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

#list2 {
	margin-left: 930px;
}

#list2 a {
	color: white;
	font-size: 20px;
	width: 120px;
	margin-top: 10px;
}

#list2 span {
	display: block;
	float: left;
	color: white;
	line-height: 48px;
}

.foot {
	width: 1200px;
	text-align: center;
	height: 60px;
	background: #383838;
	margin-top: -20px;
	margin-bottom: 10px;
}